@import "../public/variables";

.article-list {
        h2 {
                margin-top: 0.4em;
        }

        ul.listing {
                margin: 20px 0;
                padding: 0;

                li {
                        list-style: none;
                        margin: 20px 0;

                        a {
                                &:link, &:visited {
                                        font-size: 1.1em;
                                        font-weight: bold;
                                        text-decoration: none;
                                }
                        }

                        time {
                                display: block;
                                color: #666;
                        }
                }
        }
}
