@import "./placeholder";
@import "./variables";

#container {
        margin: 0 auto 60px;
        padding: 0 2%;
}

#header {
        text-align: center;

        > h1 {
                border-bottom: none;
                font-family: "gothic-open-shaded","Adobe Caslon Pro",Caslon,Baskerville,Palatino,"Palatino Linotype","Hoefler Text",Garamond,"URW Palladio L","Book Antiqua",Georgia,serif;
                font-size: 4em;
                font-weight: normal;
                line-height: 1.5em;
                margin: 40px 0 20px;
        }
}

@media (max-width: $mediaMobileMaxWidth) {
        #header > h1 {
                font-size: 3em;
                margin: 20px 0 10px;
        }
}

.clearfix {
        @extend %clearfix;
}

#github {
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        top: 50px;
        left: -75px;
        background-color: #e43936;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 80px;
        text-align: center;
        box-shadow: #999 1px 1px 4px;
        text-shadow: #666 1px 1px 1px;
}

@media (max-width: $mediaMobileMaxWidth) {
        #github {
                display: none;
        }
}
