%clearfix {
        &:before,
        &:after {
                content: "";
                display: table;
                font: 0/0 a;
        }

        &:after {
                clear: both;
        }
}
