@import "../public/variables";

.article-list {
        h2 {
                margin-top: 0.4em;
        }

        ul.listing {
                margin: 20px 0;
                padding: 0;

                li {
                        list-style: none;
                        margin: 20px 0;

                        a {
                                &:link, &:visited {
                                        font-size: 1.1em;
                                        font-weight: bold;
                                        text-decoration: none;
                                }
                        }

                        time {
                                display: block;
                                color: #666;
                        }
                }
        }

        .left {
                float: left;
                width: 60%;
        }

        .right {
                float: right;
                width: 35%;
                overflow-x: hidden;
        }
}

@media (max-width: $mediaMobileMaxWidth) {
        .article-list {
                .left, .right {
                        float: none;
                        width: 100%;
                }
        }
}

.home #container {
        max-width: 1000px;
}
